{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom-delete-page.css') }}">
{% endblock %}
{% block title %} Delete Machines {% endblock %}
{% block logout_icon%}
      <div class="row">
        <div class="col-md-12 text-right">
            <a href="{{url_for('logout')}}">
                <img id="logout" src="{{url_for('static', filename='images/logout.png')}}" style="width: 5%; height: 5%"> Logout from <strong>{{current_user.username}}</strong>
            </a>
        </div>
      </div>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12-flash2">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="row">
        <div id="page-heading" class="col-md-12">
          <h2> Delete Machines</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Please select machines which you would like to delete</p>
      <form action="{{url_for('delete_machine')}}" method='POST'>
          <div class="row text-center">
              <div class="form-group">
                  {% for machine in machines %}
                  <div class="col-xs-4 col-sm-3 col-md-2">
                      <input type="checkbox" id="myCheckbox{{loop.index}}" name = "checkbox" value="{{ machine.ip_address}}"/>
                      <label for="myCheckbox{{loop.index}}">
                          {% if machine.os_distribution == "Ubuntu" %}
                            <img class="img-responsive img-rounded" src="{{ url_for('static', filename='images/ubuntu.png') }}">
                          {% elif machine.os_distribution == "CentOS" %}
                            <img class="img-responsive img-rounded" src="{{ url_for('static', filename='images/centos.png') }}">
                          {% elif machine.os_distribution == "Debian" %}
                            <img class="img-responsive img-rounded" src="{{ url_for('static', filename='images/debian.png') }}">
                          {% elif machine.os_distribution == "Redhat" %}
                            <img class="img-responsive img-rounded" src="{{ url_for('static', filename='images/redhat.png') }}">
                          {% else %}
                            <img class="img-responsive img-rounded" src="{{ url_for('static', filename='images/other.png') }}">
                          {% endif %}
                          <h4 class="colored">{{ machine.hostname }}</h4>
                          {% if machine.aws == True %}
                            <h5 class="colored">{{ machine.ip_address }} (AWS)</h5>
                          {% else %}
                            <h5 class="colored">{{ machine.ip_address }}</h5>
                          {% endif %}
                      </label>
                  </div>
                {% endfor %}
              </div>
          </div>

          <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
          </div>
      </form>









{% endblock %}

  </body>
</html>