{% extends "base.html" %}
{% block meta %} <meta http-equiv="refresh" content="60" > {% endblock %}
{% block title %} MgmtAppForLinuxMachine {% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12-flash">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <p class=flashes>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
              </p>
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Linux Machines</h2>
        </div>
      </div>
      <div class="row text-center">      
      {% if vms == [] %}
        <br><br>
        <h4>Collecting data from machines and updating the database.... Please wait for a minute.</h4>
      {% else %}
        {% set i = 0 %}
        {% for vm in vms %}
          <div class="col-xs-4 col-sm-3 col-md-2">
                {% if vm['OS'] == "Ubuntu" %}
                  {% if vm['Fail_count'] < 2 %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/ubuntu.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{i}}">
                  {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/ubuntu_unreachable.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{i}}">
                  {% endif %}
                {% elif vm['OS'] == "CentOS" %}
                  {% if vm['Fail_count'] < 2 %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/centos.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{i}}">
                  {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/centos_unreachable.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{i}}">
                  {% endif %}
                {% elif vm['OS'] == "Debian" %}
                  {% if vm['Fail_count'] < 2 %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/debian.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{i}}">
                  {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/debian_unreachable.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{i}}">
                  {% endif %}
                {% elif vm['OS'] == "Redhat" %}
                  {% if vm['Fail_count'] < 2 %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/redhat.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{i}}">
                  {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/redhat_unreachable.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{i}}">
                  {% endif %}
                {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/other.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{i}}">
                {% endif %}
            <h4><a href="#" data-toggle="modal" data-target="#myModal_machine_data{{i}}">{{ vm['Hostname'] }} </a></h4>
            {% if vm['AWS'] == True %}
              <h5><a href="#" data-toggle="modal" data-target="#myModal_machine_data{{i}}">{{ vm['IP Address'] }} (AWS) </a></h5>
            {% else %}
              <h5><a href="#" data-toggle="modal" data-target="#myModal_machine_data{{i}}">{{ vm['IP Address'] }} </a></h5>
            {% endif %}
          </div>
        {% set i = i + 1 %}
        {% endfor %}
      {%  endif %}
      </div>
      <p>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-info" href="{{url_for('add_vm')}}" role="button">Register A New Machine</a>
          <a class="btn btn-danger" href="{{url_for('delete_vm')}}" role="button">Delete Machines</a>
        </div>
      </div>
{% endblock %}


    {% block modal %}
    <!-- Modal -->
    <!-- For displaying each VM's information  -->
    {% set j = 0 %}
    {% for vm in vms %}
     <div class="modal fade" id="myModal_machine_data{{j}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{ vm['Hostname'] }}</h4>
          </div>
          <div class="modal-body">
              <div class="table-responsive">
                {% set delta =  now - vm['Last Updated'] %}
                <div class ="text-right">Last Updated:</div>
                <div class ="text-right">{{ vm['Last Updated'].strftime("%B %d, %Y / %I:%M:%S %p") }} ({{ delta.seconds }} seconds ago) </div>
                <table class="table table-hover">
                  <tbody>
                    <th> Items </th>
                    <th> Parameters </th>
                    <tr>
                      <td>Status:</td>
                      {% if vm['Status'] == 'OK' %}
                        <td>
                          <img src="{{ url_for('static', filename='images/status_ok.png') }}">
                          {{ vm['Status'] }}</td>
                      {% elif vm['Status'] == 'Unreachable' %}
                        <td>
                          <img src="{{ url_for('static', filename='images/status_unreachable.png') }}">
                          {% if vm['Fail_count'] > 1 %}
                            {{ vm['Status'] }} (SSH access failed {{ vm['Fail_count'] }} times)</td>
                          {% else %}
                            {{ vm['Status'] }} (SSH access failed {{ vm['Fail_count'] }} time)</td>
                          {% endif %}
                      {% else %}
                        <td>
                          <img src="{{ url_for('static', filename='images/status_unknown.png') }}">
                          {{ vm['Status'] }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <td>OS Distribution:</td>
                      <td>{{ vm['OS'] }}</td>
                    </tr>
                    <tr>
                      <td>Release:</td>
                      <td>{{ vm['Release'] }}</td>
                    </tr>
                    <tr>
                      <td>IP Address:</td>
                      <td>{{ vm['IP Address'] }}</td>
                    </tr>
                    <tr>
                      <td>MAC Address:</td>
                      <td>{{ vm['MAC Address'] }}</td>
                    </tr>
                    <tr>
                      <td>Uptime:</td>
                      <td>{{ vm['Uptime'] }}</td>
                    </tr>
                    <tr>
                      <td>CPU Load Avg:</td>
                      <td>
                        {% if vm['CPU Load Avg'] != "N.A" %}
                          1 min: {{ vm['CPU Load Avg']['1min'] }}, 
                          5 min: {{ vm['CPU Load Avg']['5min'] }}, 
                          15 min: {{ vm['CPU Load Avg']['15min'] }} 
                        {% else %}
                          N.A
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Memory Usage:</td>
                      <td>  
                        {% if vm['Memory Usage'] != "N.A" and vm['Memory Usage']| length == 3 %}
                          <table class="table table-hover">
                            <tbody>
                              <th>  </th>
                              <th> total </th>
                              <th> used </th>
                              <th> free </th>
                              <th> shared </th>
                              <th> buffers </th>
                              <th> cached </th>
                              <tr>
                                  <td> Mem: </td>
                                  <td> {{ vm['Memory Usage']['Mem']['total'] }} </td>
                                  <td> {{ vm['Memory Usage']['Mem']['used'] }} </td>
                                  <td> {{ vm['Memory Usage']['Mem']['free'] }} </td>
                                  <td> {{ vm['Memory Usage']['Mem']['shared'] }}</td>
                                  <td> {{ vm['Memory Usage']['Mem']['buffers'] }} </td>
                                  <td> {{ vm['Memory Usage']['Mem']['cached'] }} </td>
                              </tr>
                              <tr>
                                  <td> -/+ </td>
                                  <td> buffers/cache: </td>
                                  <td> {{ vm['Memory Usage']['buffers/cache']['used'] }} </td>
                                  <td> {{ vm['Memory Usage']['buffers/cache']['free'] }} </td>
                                  <td> </td>
                                  <td> </td>
                                  <td> </td>
                              </tr>
                              <tr>
                                  <td> Swap: </td>
                                  <td> {{ vm['Memory Usage']['Swap']['total'] }} </td>
                                  <td> {{ vm['Memory Usage']['Swap']['used'] }} </td>
                                  <td> {{ vm['Memory Usage']['Swap']['free'] }} </td>
                                  <td> </td>
                                  <td> </td>
                                  <td> </td>
                              </tr>
                            </tbody>
                          </table>
                        {% elif vm['Memory Usage'] != "N.A" and vm['Memory Usage']| length == 2 %}
                          <table class="table table-hover">
                            <tbody>
                              <th>  </th>
                              <th> total </th>
                              <th> used </th>
                              <th> free </th>
                              <th> shared </th>
                              <th> buff/cache </th>
                              <th> available </th>
                              <tr>
                                  <td> Mem: </td>
                                  <td> {{ vm['Memory Usage']['Mem']['total'] }} </td>
                                  <td> {{ vm['Memory Usage']['Mem']['used'] }} </td>
                                  <td> {{ vm['Memory Usage']['Mem']['free'] }} </td>
                                  <td> {{ vm['Memory Usage']['Mem']['shared'] }}</td>
                                  <td> {{ vm['Memory Usage']['Mem']['buff/cache'] }} </td>
                                  <td> {{ vm['Memory Usage']['Mem']['available'] }} </td>
                              </tr>
                              <tr>
                                  <td> Swap: </td>
                                  <td> {{ vm['Memory Usage']['Swap']['total'] }} </td>
                                  <td> {{ vm['Memory Usage']['Swap']['used'] }} </td>
                                  <td> {{ vm['Memory Usage']['Swap']['free'] }} </td>
                                  <td> </td>
                                  <td> </td>
                                  <td> </td>
                              </tr>
                            </tbody>
                          </table>
                        {% else %}
                            N.A
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Disk Usage:</td>
                      <td>  
                        {% if vm['Disk Usage'] != "N.A" %}
                          <table class="table table-hover">
                            <tbody>
                              <th> Filesystem </th>
                              <th> Size </th>
                              <th> Used </th>
                              <th> Avail </th>
                              <th> Use% </th>
                              <th> Mounted on </th>
                                {% for row in vm['Disk Usage'] %}
                              <tr>
                                  <td> {{ row['Filesystem'] }} </td>
                                  <td> {{ row['Size'] }} </td>
                                  <td> {{ row['Used'] }} </td>
                                  <td> {{ row['Avail'] }} </td>
                                  <td> {{ row['Use%'] }} </td>
                                  <td> {{ row['Mounted on'] }} </td>
                              </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        {% else %}
                          N.A
                        {% endif %}
                      </td>
                    </tr>
                  </tbody>
                </table>    
              </div>
              <div class ="text-right">
                {% if 'OK' in vm['Status'] and butterfly == 1 %}
                  <form action="{{url_for('open_terminal')}}" method='POST'>
                    <input type="hidden" name="ipaddr" value="{{ vm['IP Address'] }}">
                    <button type="submit" class="btn btn-primary">Open Terminal via SSH</button>
                  </form>  
                {% endif %}
              </div>
          </div>
          <div class="modal-footer">
            {% if '#Unknown' not in vm['Hostname'] %}
            <a class="btn btn-info" href="#" role="button" data-toggle="modal" data-target="#myModal_export_json{{j}}" data-dismiss="modal">Export as JSON format</a>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% set j = j+1 %}
    {% endfor %}


    <!-- Second modal for exporting a JSON file  -->
    {% set k = 0 %}
    {% for vm in vms %}
     <div class="modal fade" id="myModal_export_json{{k}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel2">Export as a json file</h4>
          </div>
          <div class="modal-body">
            <form action="{{url_for('export_json')}}" method='POST'>
              <div class="form-group">
                <label for="InputIPAddress">Enter a file name</label>
                <input type="finename" class="form-control" name="InputFilename" placeholder="json file name" value="{{vm['Hostname']}}_{{ vm['Last Updated'].strftime('%m%d%Y_%H.%M.%S') }}.json">
                <input type="hidden" name="ipaddr" value="{{ vm['IP Address'] }}">
                <p class="has-error">{{error1}}</p>
              </div>    
            <button type="submit" class="btn btn-primary">Export</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% set k = k+1 %}
    {% endfor %}

{% endblock %}
  </body>
</html>