{% extends "base.html" %}
{% block meta %} <meta http-equiv="refresh" content="60" > {% endblock %}
{% block title %} MgmtAppForLinuxMachine {% endblock %}
{% block logout_icon%}
      <div class="row">
        <div class="col-md-12 text-right">
            <a href="{{url_for('logout')}}">
                <img id="logout" src="{{url_for('static', filename='images/logout.png')}}" style="width: 5%; height: 5%"> Logout from <strong>{{current_user.username}}</strong>
            </a>
        </div>
      </div>
{% endblock %}


{% block content %}
{% if current_user.is_authenticated %}

      <div class="row">
        <div id="page-heading" class="col-md-12">
          <h2>Linux Machines</h2>
        </div>
      </div>

      <div class="row text-center">      
      {% if machines == [] %}
        <br><br>
        <h4>Collecting data from machines and updating the database.... Please wait for a minute.</h4>
      {% else %}
        {% for machine in machines %}
          <div class="col-xs-4 col-sm-3 col-md-2">
                {% if machine.os_distribution == "Ubuntu" %}
                  {% if machine.fail_count < 2 %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/ubuntu.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">
                  {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/ubuntu_unreachable.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">
                  {% endif %}
                {% elif machine.os_distribution == "CentOS" %}
                  {% if machine.fail_count < 2 %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/centos.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">
                  {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/centos_unreachable.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">
                  {% endif %}
                {% elif machine.os_distribution == "Debian" %}
                  {% if machine.fail_count < 2 %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/debian.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">
                  {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/debian_unreachable.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">
                  {% endif %}
                {% elif machine.os_distribution == "Redhat" %}
                  {% if machine.fail_count < 2 %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/redhat.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">
                  {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/redhat_unreachable.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">
                  {% endif %}
                {% else %}
                    <img class="img-responsive" src="{{ url_for('static', filename='images/other.png') }}", data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">
                {% endif %}
            <h4><a href="#" data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">{{ machine.hostname }} </a></h4>
            {% if machine.aws == True %}
              <h5><a href="#" data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">{{ machine.ip_address }} (AWS) </a></h5>
            {% else %}
              <h5><a href="#" data-toggle="modal" data-target="#myModal_machine_data{{loop.index}}">{{ machine.ip_address }} </a></h5>
            {% endif %}
          </div>
        {% endfor %}
      {%  endif %}
      </div>
      <p>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-info" href="{{url_for('add_machine')}}" role="button">Register A New Machine</a>
          <a class="btn btn-danger" href="{{url_for('delete_machine')}}" role="button">Delete Machines</a>
        </div>
      </div>
{% endif %}
{% endblock %}

    {% block modal %}
    <!-- Modal -->
    <!-- For displaying each machine's information  -->
    {% for machine in machines %}
     <div class="modal fade" id="myModal_machine_data{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{ machine.hostname }}</h4>
          </div>
          <div class="modal-body">
              {% set delta =  now - machine.last_updated %}
              <div class ="text-right">Last Updated:</div>
              <div class ="text-right">{{ machine.last_updated.strftime("%B %d, %Y / %I:%M:%S %p") }} ({{ delta.seconds }} seconds ago) </div>
              <div class="tabbable">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#basic{{loop.index}}" aria-controls="basic{{loop.index}}" role="tab" data-toggle="tab">Basic</a></li>
                    <li role="presentation"><a href="#cpu{{loop.index}}" aria-controls="cpu{{loop.index}}" role="tab" data-toggle="tab">CPU</a></li>
                    <li role="presentation"><a href="#memory{{loop.index}}" aria-controls="memory{{loop.index}}" role="tab" data-toggle="tab">Memory</a></li>
                    <li role="presentation"><a href="#disk{{loop.index}}" aria-controls="disk{{loop.index}}" role="tab" data-toggle="tab">Disk</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="basic{{loop.index}}">
                        <h5>Basic machine data</h5>
                        <div class="table-responsive">
                            <table class="table table-hover">
                              <tbody>
                                <th class="active"> Items </th>
                                <th class="active"> Parameters </th>
                                <tr>
                                  <td>Status:</td>
                                  {% if machine.status == 'OK' %}
                                    <td>
                                      <img src="{{ url_for('static', filename='images/status_ok.png') }}">
                                      {{ machine.status }}</td>
                                  {% elif machine.status == 'Unreachable' %}
                                    <td>
                                      <img src="{{ url_for('static', filename='images/status_unreachable.png') }}">
                                      {% if machine.fail_count > 1 %}
                                        {{ machine.status }} (SSH access failed {{ machine.fail_count }} times)</td>
                                      {% else %}
                                        {{ machine.status }} (SSH access failed {{ machine.fail_count }} time)</td>
                                      {% endif %}
                                  {% else %}
                                    <td>
                                      <img src="{{ url_for('static', filename='images/status_unknown.png') }}">
                                      {{ machine.status }}</td>
                                  {% endif %}
                                </tr>
                                <tr>
                                  <td>OS Distribution:</td>
                                  <td>{{ machine.os_distribution }}</td>
                                </tr>
                                <tr>
                                  <td>Release:</td>
                                  <td>{{ machine.release }}</td>
                                </tr>
                                <tr>
                                  <td>IP Address:</td>
                                  <td>{{ machine.ip_address }}</td>
                                </tr>
                                <tr>
                                  <td>MAC Address:</td>
                                  <td>{{ machine.mac_address }}</td>
                                </tr>
                                <tr>
                                  <td>Uptime:</td>
                                  <td>{{ machine.uptime }}</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="cpu{{loop.index}}">
                        <h5>CPU Load Average</h5>
                        <div class="table-responsive">
                            {% if machine.cpu_load_avg != "N.A" %}
                            <table class="table table-hover">
                              <tbody>
                                <th class="active"> 1 min </th>
                                <th class="active"> 5 min </th>
                                <th class="active"> 15 min </th>
                                <tr>
                                    <td>
                                      {{ machine.cpu_load_avg['1min'] }}
                                    </td>
                                    <td>
                                      {{ machine.cpu_load_avg['5min'] }}
                                    </td>
                                    <td>
                                      {{ machine.cpu_load_avg['15min'] }}
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                            {% else %}
                                {{ machine.cpu_load_avg }}
                            {% endif %}
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane" id="memory{{loop.index}}">
                        <h5>Memory Usage</h5>
                        <div class="table-responsive">
                            {% if machine.memory_usage != "N.A" %}
                            <table class="table table-hover">
                                {% if machine.memory_usage | length == 3 %}
                                <tbody>
                                  <th class="active">  </th>
                                  <th class="active"> total </th>
                                  <th class="active"> used </th>
                                  <th class="active"> free </th>
                                  <th class="active"> shared </th>
                                  <th class="active"> buffers </th>
                                  <th class="active"> cached </th>
                                  <tr>
                                      <td> Mem: </td>
                                      <td> {{ machine.memory_usage['Mem']['total'] }} </td>
                                      <td> {{ machine.memory_usage['Mem']['used'] }} </td>
                                      <td> {{ machine.memory_usage['Mem']['free'] }} </td>
                                      <td> {{ machine.memory_usage['Mem']['shared'] }}</td>
                                      <td> {{ machine.memory_usage['Mem']['buffers'] }} </td>
                                      <td> {{ machine.memory_usage['Mem']['cached'] }} </td>
                                  </tr>
                                  <tr>
                                      <td> -/+ </td>
                                      <td> buffers/cache: </td>
                                      <td> {{ machine.memory_usage['buffers/cache']['used'] }} </td>
                                      <td> {{ machine.memory_usage['buffers/cache']['free'] }} </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                  </tr>
                                  <tr>
                                      <td> Swap: </td>
                                      <td> {{ machine.memory_usage['Swap']['total'] }} </td>
                                      <td> {{ machine.memory_usage['Swap']['used'] }} </td>
                                      <td> {{ machine.memory_usage['Swap']['free'] }} </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                  </tr>
                                </tbody>
                                {% elif machine.memory_usage | length == 2 %}
                                <tbody>
                                  <th class="active">  </th>
                                  <th class="active"> total </th>
                                  <th class="active"> used </th>
                                  <th class="active"> free </th>
                                  <th class="active"> shared </th>
                                  <th class="active"> buff/cache </th>
                                  <th class="active"> available </th>
                                  <tr>
                                      <td> Mem: </td>
                                      <td> {{ machine.memory_usage['Mem']['total'] }} </td>
                                      <td> {{ machine.memory_usage['Mem']['used'] }} </td>
                                      <td> {{ machine.memory_usage['Mem']['free'] }} </td>
                                      <td> {{ machine.memory_usage['Mem']['shared'] }}</td>
                                      <td> {{ machine.memory_usage['Mem']['buff/cache'] }} </td>
                                      <td> {{ machine.memory_usage['Mem']['available'] }} </td>
                                  </tr>
                                  <tr>
                                      <td> Swap: </td>
                                      <td> {{ machine.memory_usage['Swap']['total'] }} </td>
                                      <td> {{ machine.memory_usage['Swap']['used'] }} </td>
                                      <td> {{ machine.memory_usage['Swap']['free'] }} </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                  </tr>
                                </tbody>
                                {% endif %}
                            {% else %}
                                {{ machine.memory_usage }}
                            {% endif %}
                            </table>
                        </div>
                    </div>



                    <div role="tabpanel" class="tab-pane" id="disk{{loop.index}}">
                        <h5>Disk Usage</h5>
                        <div class="table-responsive">
                            {% if machine.disk_usage != "N.A" %}
                            <table class="table table-hover">
                                <tbody>
                                  <th class="active"> Filesystem </th>
                                  <th class="active"> Size </th>
                                  <th class="active"> Used </th>
                                  <th class="active"> Avail </th>
                                  <th class="active"> Use% </th>
                                  <th class="active"> Mounted on </th>
                                    {% for row in machine.disk_usage %}
                                  <tr>
                                      <td> {{ row['Filesystem'] }} </td>
                                      <td> {{ row['Size'] }} </td>
                                      <td> {{ row['Used'] }} </td>
                                      <td> {{ row['Avail'] }} </td>
                                      <td> {{ row['Use%'] }} </td>
                                      <td> {{ row['Mounted on'] }} </td>
                                  </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                {{ machine.disk_usage }}
                            {% endif %}
                        </div>
                    </div>
                  </div>

                  <div class ="text-right">
                    {% if 'OK' in machine.status and butterfly == 1 %}
                      <form action="{{url_for('open_terminal')}}" method='POST'>
                        <input type="hidden" name="ipaddr" value="{{ machine.ip_address }}">
                        <button type="submit" class="btn btn-primary">Open Terminal via SSH</button>
                      </form>
                    {% endif %}
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            {% if '#Unknown' not in machine.hostname %}
            <a class="btn btn-info" href="#" role="button" data-toggle="modal" data-target="#myModal_export_json{{loop.index}}" data-dismiss="modal">Export as JSON format</a>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}


    <!-- Second modal for exporting a JSON file  -->
    {% for machine in machines %}
     <div class="modal fade" id="myModal_export_json{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel2">Export as a json file</h4>
          </div>
          <div class="modal-body">
            <form action="{{url_for('export_json')}}" method='POST'>
              <div class="form-group">
                <label for="InputIPAddress">Enter a file name</label>
                <input type="finename" class="form-control" name="InputFilename" placeholder="json file name" value="{{machine.hostname}}_{{ machine.last_updated.strftime('%m%d%Y_%H.%M.%S') }}.json">
                <input type="hidden" name="ipaddr" value="{{ machine.ip_address }}">
                <p class="has-error">{{error1}}</p>
              </div>
            <button type="submit" class="btn btn-primary">Export</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}
  </body>
</html>