.colored {
  color: #337ab7
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 0px;
  display: block;
  position: relative;
  margin: 0px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100%;
  width: 100%;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #fff;
}

:checked + label:before {
  content: "✓";
  background-color: #00b300;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.85);
  box-shadow: 0 0 5px #cc3300;
  z-index: -1;
}

:checked + label h4,
:checked + label h5 {
  color: #cc3300;
}
