.has-error{
  position: relative;
  min-height: 0px;
  padding-right: 15px;
  padding-left: 15px;
  color: red;
  vertical-align: text-top;
}
.vertical-align {
    display: flex;
    align-items: center;
}

@media (min-width: 992px) {
  .col-md-12-flash, .col-md-12-flash2 {
    float: left;
  }
  .col-md-12-flash {
    width: 100%;
  }
  .col-md-12-flash2 {
    width: 100%;
  }
}