.display-flex {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap:break-word;
}

.display-flex.container:before,
.display-flex.container:after,
.display-flex.row:before,
.display-flex.row:after {
   content: normal;
}

.img-waiting {
  position: absolute;
  top: 15px;
  left: 20px;
 }

 .txt-waiting {
  position: absolute;
  top: 15px;
  left: 60px;
  color: #DE0000;
 }