<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Delete Machines</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>


  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href = "{{url_for('showTop')}}">
            <img src="{{url_for('static', filename='images/home.jpg')}}" >
          </a>
        </div>
        <div class="col-md-6 text-right text-uppercase">
          <h1>Management Portal For Linux Machines</h1>
          <h4>version 1.0</h4>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-12-flash">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <p class=flashes>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
              </p>
            {% endif %}
          {% endwith %}
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <h2> Delete Machines</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>Please select machines which you would like to delete from the list.</p>
          <br>

          <form action="{{url_for('deleteVM')}}" method='POST'>
            <div class="form-group">
              <label for="InputIPAddress">List of current machines</label>
              {% for vm in vms %}
                {% if vm['AWS'] == True %}
                  <p><input type="checkbox" name = "checkbox" value="{{ vm['IP Address']}}">  {{vm['Hostname']}}: {{ vm['IP Address']}} (AWS)</p>
                {% else %}
                  <p><input type="checkbox" name = "checkbox" value="{{ vm['IP Address']}}">  {{vm['Hostname']}}: {{ vm['IP Address']}}</p>
                {% endif %}
              
              {% endfor %}
              <p>
              <button type="submit" class="btn btn-primary">Delete</button>
            </div>
          </form>

        </div>
      </div>
      
    </div>

  </body>
</html>